<nav class="navbar flex items-center justify-spaceBetween p-16 container">
  <div class="nav-logo flex items-center ">
    <img src="../assets/images/logo.svg" alt="logo" /><span class="font-600"
      >waterworks</span
    >
  </div>
  <div class="nav-links flex items-center justify-spaceEvenly w-100">
    <a href="#" class="links">Services</a>
    <a href="#" class="links">About</a>
    <a href="#" class="links">Contact</a>
  </div>
  <div class="nav-clickables">
    <div class="nav-menus">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>
